figure{
	color: #666;
	transition: all 1s;
}

figure:hover{
	box-shadow: 5px 5px 50px #666;
	transition: all 1s;
}

figure img{
	width: 100% !important;
	margin-bottom: 15px;
	transition: all 1s;
}

figure img:hover{	
	cursor: pointer;
}

figcaption{
	padding: 10px;
}

figure figcaption span{
	display: block;
}

span.titulo-barberia{
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
}



span.titulo-desc-barberia{
	font-size: 1.1em;
	font-weight: bold;
}

a:hover{
	cursor: pointer;
	opacity: .9;
}
.amdroid{
  height: 80px;
  width: 40px;

}

a.boton{
	display: block;
	width: 100px;
	background-color: #b72217;
	color: #fff;
	text-align: center;
	padding: 5px;
	border-radius: 2px;
}

.titulo{
	font-weight: bold;
	color: #666;
}

.row .barberia{
    transition: transform 1s;
}

.row .barberia:hover{
	transition: transform 1s;
	transform: scale(1.1);
	cursor: pointer;
}

a.centrar{
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 250px;
  border: 1px solid #092461;
  color: #666 !important;
 
}
.navega{
  background: #b72217 !important;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .row .barberia{
    padding-bottom: 25px !important;
  }
}
@media (max-width: 568px) {
  .row .barberia{
    padding-bottom: 25px !important;
  }

  .features-content{
  	text-align: center;
  	width: 80%;
  	margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .row .barberia{
    padding-bottom: 25px !important;
  }

  .features-content{
  	text-align: center;
  	width: 80%;
  	margin: 0 auto;
  }
}
@media (max-width: 640px) and (min-width: 960px) {
  .row .barberia{
    padding-bottom: 25px !important;
  }

  .features-content{
  	text-align: center;
  	width: 80%;
  	margin: 0 auto;
  }
}
@media (max-width: 767px) and (min-width: 479px) {
  .row .barberia{
    padding-bottom: 25px !important;
  }

  .features-content{
  	text-align: center;
  	width: 80%;
  	margin: 0 auto;
  }
}*/

